/* табы JQuery*/
.custom-tabs >ul
{
    background:none;  
    border: none;
    border-bottom: 1px solid #1574c0;
    border-radius:0px;
    
}
.custom-tabs>ul>li
{
    display:inline;
    background:#1E5A92;
    font-size:1.2em;
    font-family:Tahoma;
    padding: 5px 10px 1px 10px;   
    margin:5px;
    border:none;
}
.custom-tabs>ul>li a
{
    text-decoration:none;
    color:White;
}
.custom-tabs>ul>li.ui-state-default
{
    background:#1E5A92;
    color:#fff;
    border:none;
    
}
.custom-tabs>ul>li.ui-state-hover
{
    background:#CCC;
    color:#F05071;
}
.custom-tabs>ul>li.ui-state-active
{
    background:#F05071;
    border:none;
}
/*конец табов*/